extends ../layout

block content
  .container
    .row
      .four.columns &nbsp;
      .four.columns
        .auth-form
          .brand-header
            a.brand.header-small(href="/")
              img(src='/images/shell.svg')
              | Fetched.io
          .form-body
            .form-header
              h1.header-small Welcome Back!
            form(role="form", action="/login", method="post")
              input(type="text", name="username", placeholder="Username", required)
              input(type="password", name="password", placeholder="Password", required)
              button(class="button-big button-primary u-full-width" type="submit") Login
          .form-extra: a(href="/register") Need an account? Join&nbsp;
            i.icon.icon-arrow-right
 