#header
  width 100%
  background #282931
  // background rgba(#282931, 0.95);
  position fixed
  top 0
  z-index 1
  margin-bottom 2em
  height 45px
  line-height 46px
  font-weight 600
  // border-bottom 1px solid #eee

.header-nav
  list-style none
  float left
  overflow hidden
  margin 0
  li
    display inline
    margin-right 3em
  .nav-link
    position relative
    top -1px
    color #FFFBDC
    font-weight 400
    opacity 0.9
    border none
    font-size 1.2rem
    &:hover
      opacity 1
      color #90aa3c
  .brand
    color #FFFBDC
    font-size 1.4rem
    font-weight 600
    border none !important
    margin-right 2em
    line-height 45px
    letter-spacing .2rem
    display inline-block
    float left
    img
      width: 21px;
      position: relative;
      top: 0.33em;
      margin-right: 0.5em;

.header-auth
  float right
  a
    font-size 1rem
    color #90AA3C
    letter-spacing 0.1rem
    text-transform uppercase
    &.login
      border none
      float left
      line-height 48px
    &:hover
      color #fff
  .button
    margin 0 0 0 1.5em
    color #282931
    border-radius 0
    height 45px
    float right
    line-height 46px
    display inline-block

.auth
  padding-top 6em
  #header
    display none