.shot-card-wrapper
  width 320px
  margin-bottom 30px
  height 240px
.shot-card
  // padding 0.3em
  // border 1px solid #ddd
  position relative
  border-radius 2px
  // background #fff
  margin auto
  line-height 1
  &:hover *
    opacity 1 !important
  img.fetch
    // background #eee
    display block
    border 1px solid
    border-radius 2px
    max-width 100%
  .title
    letter-spacing 0
    font-size 1.5rem
    float left
    padding 1em 0.05em
    opacity 0.3
    margin 0
  .shot-meta
    float right
    margin 0.8em 0.2em 0
    .fans
      display inline-block
      position relative
      top 4px
      opacity 0.3
      padding-left 0.5em
      i
        margin-right 0.3em
  .shooter
    display inline-block
    display none
    float right
    margin-left 1em
    width 24px
    a
      border none !important

.shot
  .hero
    min-height 320px
    position relative
    margin-bottom 1em
    border-radius 2px
    border 1px solid
    overflow hidden
    img
      display block
  table
    width 100%
    color #777
    font-size 1.2rem
    margin-bottom 1em
    tr:last-child td
      border none
    td
      padding 8px 0
      border-color #eee
  .shot-meta
    padding 0 0.25em
    width 100%
    .shot-controls
      line-height 1
      opacity 0.85
      *
        border none !important
      &:hover
        opacity 1
      form
        display inline
      button 
        padding 0
        border 0
        display inline-block
        font-size 1.5rem
        line-height 1
        height 28px
        width 28px
      .liked i
        color #E74C3C
      i
        height 28px
        width 28px
        font-size 1.5rem
        text-align center
        line-height 1
    .shooter
      width 50%
    .timestamp
      color #aaa
      font-size 0.85em
    .avatar
      margin-right 0.4em
      margin-bottom 1em
      width 24px

.colors
  list-style none
  line-height 1
  margin 0
  li
    display inline
    margin 0
    padding 1px

.shot-fans
  width 100%
  padding-top 1em
  .fans-header
    margin-right 1em
    .likeCount
      padding 0.25rem 0rem
      margin-right 0.4rem
      display inline-block
      text-align center
  .fans
    li
      margin-bottom 1.5em
      margin-right 1.5em
      display inline-block
    img
      margin-right 0.5rem

.sidebar-nav
  i
    width 24px
    text-align center
  .header-small
    margin-bottom 0.5em

.filter
  li
    margin 0
  a
    color #535668
    font-size 1.3rem
    border none !important
    display block
    padding 0.3em 0.6em 0.3em 2.3em
    border-radius 2px
    // border-bottom 1px solid #eee
    &:hover
      background #90AA3C
      color #fff
    .count
      background #fbfbfb
      border-radius 100%
      display inline-block
      height 18px
      width 18px
      line-height 18px
      margin-top 0.1em
      margin-left 1em
      float right
      text-align center
      color #aaa
      font-size 1rem