.static
  .page-body
    margin auto
    background #fff
    padding 2em 2em
    border 1px solid #111
    box-shadow 0 1px 3px rgba(#000, 0.1)
    border-radius 4px
    position relative
    &.pad
      padding-top 6em
    a
      color #90aa3c
      &:hover
        border-color #90aa3c
    .warn
      font-weight 600
      position absolute
      font-size 2rem
      padding 1em
      top 0
      border-top-left-radius 4px
      border-top-right-radius 4px
      border-bottom-left-radius 0
      border-bottom-right-radius 0
      right 0
      left 0
    .page-image
      margin 0 auto 2em
      display block
      border-radius 4px
      border 1px solid
    pre
      background #eee
      font-size 1.3rem
      border-radius 2px
      padding 1em
      border 1px solid #e1e1e1
    .header-small
      border-bottom 1px solid #e1e1e1
      padding 1em 0