.user-meta
  text-align center
  .profile
    margin-bottom 0.3em
  .header-small
    margin 0 0 0.2em
  .current-distro
    opacity 0.8

.cloudinary-preview-wrap
  width 64px
  height 64px
  float left
  margin-right 1em
  border-radius 100%
  border: 1px solid #ddd
  margin-bottom 1em
  text-align center

.cloudinary-preview
  i
    margin-top 38%
    opacity 0.3
  img
    border-radius 100%
    width 64px
    height 64px
.cloudinary-upload
  color #fff
  margin-top 1em
  float left
  width 200px